@import "./partials/reset";
@import "./partials/_clearfix";
@import "./mixins";
@import "./partials/variables";
@import "./partials/edit";
@import "./partials/view";
@import "./partials/index";
@import "./partials/mobile-nav";
@import "./partials/header";

* {
	width: 100%;
}

body{
	font-family: $font;
	font-size: $font-size;
	font-color: grey;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#loginDiv {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.login {
	flex: 1 0 auto;
	order: 1;
	width: 25%;

	#username, #password {
		margin: 4% 0;
	}

	.loginBtn {
		margin-bottom: 5%;
	}

}

.newUser {
	flex: 0 0 auto;
	order: 2;
	width: 25%;
	margin-bottom: .5%;
}
