<h1>Gallery</h1>

{{#each galleryIndex}}

<div class="galleryIndex">

	<img src=" {{ link }}" height="400" width="auto" />
	
	<p>Author: {{ author}}</p>

	<p>Description: {{ description }} </p>

</div>

{{/each}}