{{> header }}

<form action="http://localhost:3000/gallery/new" method="GET" enctype="application/x-www-form-urlencoded">
	<button id="addImg" >Add Image</button>
</form>

{{#each galleryIndex}}

<div class="galleryIndex">

	<form class="imageBtns" action="http://localhost:3000/gallery/{{id}}" method="GET" enctype="application/x-www-form-urlencoded">
	
		<button type="submit"><img class="indexImages" src=" {{ link }}" height="400" width="auto" /></button>

	</form>
	
	<p>{{ author}}</p>

	<p>{{ link }} </p>

</div>

{{/each}}