{{> header }}

<form action="http://localhost:3000/gallery" method="post" enctype="application/x-www-form-urlencoded">
	
	<label name="link">Link</label>
		<input name="link" type="text" placeholder="Image URL"><br>

	<label name="author">Author</label>
		<input name="author" type="text" placeholder="Your Name, duh"><br>

	<label name="description">Description</label>
		<input name="description" type="text" placeholder="This is Art"><br>

	<button type="submit">Submit</button>

</form>

<form action="http://localhost:3000/gallery" method="GET" enctype="application/x-www-form-urlencoded">
	<button>Return to Gallery</button>
</form>