<h1>Image</h1>

{{#if galleryView}}

<div class="galleryView">
	
	<p>Author: {{ galleryView.author}}</p>

	<p>Link: {{ galleryView.link }} </p>

	<p>Description: {{ galleryView.description }} </p>

</div>

{{/if}}

<form action="http://localhost:3000/gallery/{{galleryView.id}}/edit" method="get" enctype="application/x-www-form-urlencoded">
	
	<button type="submit">Edit</button>

</form>

<form action="http://localhost:3000/gallery?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
	
	<button type="submit">Delete</button>

</form>