{{!-- Desktop Nav --}}
<div id="desktop-nav-div">
	<div class="desktop-dropdown">
		<button class="desktop-nav">User</button>
			<ul class="desktop-content">
				<li><a href="/user/login">Login</a></li>
				<li><a href="/user/create_user">Create Account</a></li>
				<li><a href="/user/secret">Profile</a></li>
				<li><a href="/gallery">Gallery</a></li>
		</ul>
	</div>
</div>

{{!-- Mobile Nav --}}
<div class="mobile-dropdown">
	<button class="mobile-nav">Menu</button>
		<ul class="dropdown-content">
			<li><a href="/user/login">Login</a></li>
			<li><a href="/user/create_user">Create Account</a></li>
			<li><a href="/user/secret">Profile</a></li>
			<li><a href="/gallery">Gallery</a></li>
	</ul>
</div>