<div class="dropdown">
	<button class="menu">Menu</button>
		<ul class="dropdown-content">
			<li><a href="/user/login">Login</a></li>
			<li><a href="/user/create_user">Create Account</a></li>
			<li><a href="/user/secret">Profile</a></li>
			<li><a href="/gallery">Gallery</a></li>
	</ul>
</div>
