/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
#viewImg {
  display: flex;
  flex-flow: row wrap;
  width: 300px; }
  #viewImg img {
    height: auto;
    object-fit: contain;
    padding-top: 15px;
    padding-bottom: 35px; }
  #viewImg #author, #viewImg #link {
    font-size: .90rem;
    font-weight: bold;
    line-height: 1.25rem; }
  #viewImg #link {
    text-overflow: normal;
    white-space: wrap;
    word-break: break-all; }

#editForm, #deleteForm {
  flex: 0 0 25%;
  order: 1;
  margin-top: 25px; }

#editForm {
  margin-right: 25px; }

.images {
  display: none; }

.indexBtn {
  display: none; }

#index {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15%;
  border-bottom: 1px solid grey; }
  @media (min-width: 800px) {
    #index {
      width: 90%;
      margin-bottom: 5%;
      justify-content: space-around; } }

.galleryIndex:first-child {
  border-bottom: 1px solid grey;
  width: 90%; }
  @media (min-width: 800px) {
    .galleryIndex:first-child {
      width: 96.5%; } }
  .galleryIndex:first-child img {
    object-fit: cover;
    object-position: 0 0;
    height: 200px; }
    @media (min-width: 800px) {
      .galleryIndex:first-child img {
        height: 600px; } }
  .galleryIndex:first-child .author-link {
    display: none; }
  .galleryIndex:first-child .desktop {
    display: none; }

.galleryIndex:nth-last-child(-n+3) {
  margin-bottom: 30px; }
  @media (min-width: 800px) {
    .galleryIndex:nth-last-child(-n+3) {
      width: 30%;
      margin-bottom: 15px; } }

.galleryIndex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 0 8px 0; }
  .galleryIndex a {
    flex: 0 0 auto;
    order: 0;
    padding-bottom: .75%; }
    .galleryIndex a img {
      height: 200px;
      object-fit: cover; }
      @media (min-width: 800px) {
        .galleryIndex a img {
          height: 250px; } }
  .galleryIndex .author-link {
    order: 1;
    line-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    @media (min-width: 800px) {
      .galleryIndex .author-link {
        display: none; } }
  .galleryIndex .desktop {
    display: none; }
    @media (min-width: 800px) {
      .galleryIndex .desktop {
        display: block;
        order: 1;
        line-height: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; } }

.dropdown {
  margin-bottom: 15px;
  font-size: 1.25em; }
  @media (min-width: 800px) {
    .dropdown {
      display: none; } }

.menu {
  border: none;
  background-color: powderblue;
  font-size: 1.25em; }

.dropdown-content {
  display: none; }

.dropdown-content li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.dropdown-content a {
  flex: 0 0 auto;
  text-align: center;
  text-decoration: none; }

.dropdown-content a:active {
  background-color: pink; }

.dropdown:hover .dropdown-content {
  display: block; }

#header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  border-top: 1px dotted grey;
  height: 100px; }
  @media (min-width: 800px) {
    #header {
      align-items: center;
      width: 87.25%;
      margin: 6% 0;
      margin-bottom: 50px; } }

h1 {
  flex: 0 0 auto;
  order: 0;
  width: 100%;
  margin: 25px 0;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: grey;
  text-align: center;
  font-size: 3em;
  letter-spacing: 8px; }
  @media (min-width: 800px) {
    h1 {
      width: 65%;
      align-self: center;
      letter-spacing: 28px;
      font-size: 5rem; } }

#p_header {
  flex: 0 0 auto;
  order: 0;
  display: none; }
  @media (min-width: 800px) {
    #p_header {
      display: inline;
      text-align: left;
      align-self: center;
      width: 30%;
      height: 80%;
      padding: 0 1%;
      border-left: 1px solid grey;
      word-break: break-word;
      line-height: 1.35rem; } }

* {
  width: 100%; }

body {
  font-family: "Arial", sans-serif;
  font-size: 0.75rem;
  font-color: grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
