{{> header }}

<form action="http://localhost:3000/user/create_user" method="post" enctype="application/x-www-form-urlencoded">

	<label name="username">Create Username</label>
		<input name="username" type="text" placeholder="Tell us who you are"><br>

	<label name="password">Create Password</label>
		<input name="password" type="text" placeholder="itsasecret"><br>

	<label name="password">Security Password: What is your favorite color?</label>
		<input name="favcolor" type="text" placeholder="Favorite Color"><br>

	<button type="submit">Create User</button>

</form>

<form action="http://localhost:3000/user/login" method="GET" enctype="application/x-www-form-urlencoded">
	<button type="submit">Login</button>
</form>