{{> navigation }}

{{> header }}

<div id="loginDiv">
	<form class="login" action="http://localhost:3000/user/login" method="POST" enctype="application/x-www-form-urlencoded">

		<label for="username">Username</label>
			<input id="username" name="username" type="text" placeholder="Tell us who you are"><br>

		<label for="password">Password</label>
			<input id="password" name="password" type="password" placeholder="itsasecret"><br>

		<button class="loginBtn" type="submit">Login</button>

	</form>

	<form class="newUser" action="http://localhost:3000/user/create-user" method="GET" enctype="application/x-www-form-urlencoded">
		<button type="submit">New User</button>
	</form>
</div>