<h1>Secret Page</h1>


<form action="http://localhost:3000/gallery" method="GET" enctype="applicaiton/x-www-form-urlencoded">
	<button type="submit">View Gallery</button>
</form>

<form action="http://localhost:3000/gallery/new" method="GET" enctype="applicaiton/x-www-form-urlencoded">
	<button type="submit">Add Image</button>
</form>


<form action="http://localhost:3000/user/logout" method="GET" enctype="applicaiton/x-www-form-urlencoded">
	<button type="submit">Log Out</button>
</form>