.galleryEdit {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 1%;

	img {
		flex: 0 0 auto;
		object-fit: cover;
		margin-bottom: 2%;
		width: 60%;
		height: 25%;
	}

	p {
		flex: 0 0 auto;
		width: 60%;
		margin-bottom: .75%;
		font-size: .9rem;
	}

}

#editContent {
	
	flex: 0 0 auto;
	order: 1;
	width: 60%;

	label {
		font-weight: bold;
	}

	input {

		margin: .375% 0;

	}

	textarea {
		height: 50px;
		resize: none;
		margin-top: .375%;
	}

	button {
		width: 75px;
		margin: .5% .5% 5% 0;
	}
}

