#header {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	border-top: 1px dotted grey;
	height: 100px;
	background-color: yellow;

	@include respond-to('large'){
	align-items: center;
	width: 87.25%;
	margin: 6% 0;
	margin-bottom: 50px;
	}
}

h1{
	flex: 0 0 auto;
	order: 0;
	width: 100%;
	margin: 25px 0;
	font-family: $font;
	font-weight: bold;
	color: grey;
	text-align: center;
	font-size: 3em;
	letter-spacing: 8px;
	// background-color: pink;

	@include respond-to('large'){
		background-color: green;
		width: 65%;
		align-self: center;
		letter-spacing: 20px;
		font-size: 5rem;
	}
}

#p_header{

	flex: 0 0 auto;
	order: 0;
	display: none;

	@include respond-to('large'){
		display: inline;
		text-align: left;
		background-color: pink;
		align-self: center;
		width: 23%;
		height: 65%;
		padding: 0 1%;
		border-left: 1px solid grey;
		word-break: break-word;
		line-height: .90rem;

	}
}