* {
	width: 100%;
}

body{
	font-family: $font;
}

#index {

	border-color: orange;

	// width: 100%;

	display: flex;
	flex-flow: column wrap;
	align-items: center;

	margin-top: 10px;

}

.galleryIndex {

	background-color: purple;

	display: flex;
	flex-flow: row wrap;
	// display: inline-block;
	justify-content: space-around;
	align-items: center;
	width: 350px;
	// padding: 10px 25px;

	margin-top: 5px;

	img {


		flex: 0 1 auto;
		order: 0;
		align-self: center;
		width: 300px;
		padding-bottom: 25px;

		background-color: yellow;

		border-bottom: 1px solid grey;

	}

	.author{
		flex: 0 0 auto;
		order: 1;
		width: 300px;

		// display: inline-block;

		background-color: red;

	}

	.link{
		flex: 0 0 auto;
		order: 1;
		width: 300px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		background-color: pink;
	}
}