//	hide the login/createuser/profile buttons
.indexBtn {
	display: none;
}


// 	contains all the image cards
#index {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 15%;
	border-bottom: 1px solid grey;
	// background-color: orange;

	@include respond-to('medium'){
		width: 90%;
		margin-bottom: 5%;
		justify-content: space-around;
	}
}

// takes first image of gallery
.galleryIndex:first-child {
	border-bottom: 1px solid grey;
	width: 90%;
	// background-color: powderblue;

	@include respond-to('medium'){
		width: 96.5%;
	}

	img {
		object-fit: cover;
		object-position: 0 0;
		height: 200px;
		margin-bottom: 1%;

		@include respond-to('medium'){
			height: 600px;
		}
	}

	.author-link{
		display: none;
	}

	.desktop{
		display: none;
	}
}

	.galleryIndex:nth-last-child(-n+3) {
		margin-bottom: 20px;

		@include respond-to('medium'){
			width: 30%;
			margin-bottom: 15px;
		}
	}


//	contains a single image and its info
.galleryIndex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 0 8px 0;
	// background-color: purple;
	// border: 4px solid powderblue;

	@include respond-to('medium'){
	}

	a {
		flex: 0 0 auto;
		order: 0;
		padding-bottom: .75%;
		// background-color: yellow;

		img {
			height: 200px;
			object-fit: cover;

			@include respond-to('medium'){
				height: 250px;
			}

			// background-color: green;

		}

	}

	.author-link{
		order: 1;
		line-height: 1em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		// background-color: red;

		@include respond-to('medium'){
			display: none;
		}

	}

	.desktop{

		display: none;

		@include respond-to('medium'){
		display: block;
		order: 1;
		line-height: 1em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		}
	}


}