//	Menu for Mobile Display
.dropdown {
	margin-bottom: 15px;
	font-size: 1.25em;

	@include respond-to('medium'){
		display: none;
	}
}

.menu {
	border: none;
	background-color: grey;
	font-size: 1.25em;
	color: rgb(255, 255, 255);
}

.dropdown-content {
	display: none;
}

.dropdown-content li {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.dropdown-content a {
	flex: 0 0 auto;
	text-align: center;
	text-decoration: none;
	padding: 1.5% 0;
}

.dropdown-content li:hover{
	background-color: grey;
}

.dropdown-content a:hover{
	color: rgb(255,255,255);
}

.dropdown:hover .dropdown-content {
	display: block;
}

